ansible-vault==2.1.0
beautifulsoup4==4.12.3
bert-score==0.3.13
bittensor==8.4.5
clip==1.0
colormath==3.0.0
ddt==1.6.0
langchain==0.3.11
langchain-openai==0.2.12
matplotlib-inline==0.1.7
open-clip-torch==2.29.0
opencv-python==4.10.0.84
pip-chill==1.0.3
playwright==1.49.1
python-dotenv==1.0.1
scikit-learn==1.6.0
shtab==1.6.5
tinycss2==1.4.0
wandb==0.19.0
